---
import Layout from '../layouts/Layout.astro';
import IndexHero from '../components/index/IndexHero';
import IntroSection from '../components/index/IntroSection';
import SpeakersPreview from '../components/index/SpeakersPreview';
import AuProgramme from '../components/index/AuProgramme';
import Testimonials from '../components/index/Testimonials';
import TestimonialsList from '../components/index/TestimonialsList';
import Partners from '../components/index/Partners';
import Pricing from '../components/index/Pricing';
import Banner from '../components/index/Banner';
import Lieu from '../components/index/Lieu';
import Faq from '../components/shared/Faq';
import OrgaTeam from '../components/index/OrgaTeam';
import { FAQ_ITEMS } from '../data/faq';
import { PAGE_META, canonicalFor } from '../data/site';
import { eventSchema } from '../lib/seo';
---

<Layout
  title={PAGE_META.index.title}
  description={PAGE_META.index.description}
  canonical={canonicalFor(PAGE_META.index.path)}
  faqItems={FAQ_ITEMS}
  jsonLd={[eventSchema()]}
>
  <main style="padding-top: 60px; background: #000; min-height: 100vh; color: #fff;">
    <IndexHero client:load />
    <IntroSection client:load />
    <SpeakersPreview client:load />
    <AuProgramme client:load />
    <Testimonials client:load />
    <TestimonialsList client:load />
    <Partners client:load />
    <Pricing client:load />
    <Banner client:load />
    <Lieu client:load />
    <Faq client:load />
    <OrgaTeam client:load />
  </main>
</Layout>
