@media (min-width: 1240px) {
  .hidden-9brr6f {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1239.98px) {
  .hidden-pmzee1 {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .hidden-17j2mkx {
    display: none !important;
  }
}
