@media (min-width: 1240px) {
  .hidden-uosayu {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1239.98px) {
  .hidden-1pmeis7 {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .hidden-hn3c4o {
    display: none !important;
  }
}
